@font-face {
	font-family: "Press Start 2P";
	src: url("../../fonts/PressStart2P-Regular.ttf");
}

body {
	font-family: "Press Start 2P";
	background-color: var(--color-pomb-and-power);
	max-width: 320px;
	margin: 0px auto;
}
